body {
    line-height: 2;
    background: #222;
    color: white;
    width: 100%;
    font-size:22px;
}

#app {
    display:flex;
   flex-direction:column;
   align-items: center;
   width:100%;
}
 
.cat-img{
    padding-top:10px;
    height: 500px;
}

.cat-thumbnails {
    height:50px;
}

#cat-nav {
   width:1000px;
   display:flex;
   justify-content:space-around;
}